<div class="container">
  <h1>Réservez une intervention</h1>
  <%= simple_form_for ([ @speaker_offering, @booking ]) do |f| %>
    <%= f.input :event_type, :label => "Type d'événement", placeholder: "Quel serait le sujet de votre événement?" %>
    <%= f.input :date, placeholder: "Quand aura t'il lieu?" %>
    <%= f.input :location, :label => "Ville", placeholder: "Dans quelle ville?" %>
    <%= f.submit 'Valider', class:'btn btn-primary' %>
  <% end %>
</div>

