<div class="container mt-5">
  <div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= link_to speaker_offering_path(@obama_offer_id) do%>
            <img src="http://scd.rfi.fr/sites/filesrfi/aefimagesnew/dynimagecache/0/355/3500/1978/1024/578/sites/images.rfi.fr/files/aef_image/2017-10-19t221010z_668788204_rc161d7086e0_rtrmadp_3_usa-obama_0.jpg" class="d-block w-100" alt="Barack Obama">
            <div class="carousel-caption d-none d-md-block">
              <h5>Barack Obama</h5>
              <p>Ma vie, mon oeuvre, ma politique.</p>
            </div>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to speaker_offering_path(@watson_offer_id) do%>
            <img src="https://www.lepoint.fr/images/2017/07/24/9488520lpw-9488547-article-jpg_4444098.jpg" class="d-block w-100" alt="Emma Watson">
            <div class="carousel-caption d-none d-md-block">
              <h5>Emma Watson</h5>
              <p>La femme de demain. Mère, actrice, femme.</p>
            </div>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to speaker_offering_path(@sebastien_offer_id) do%>
            <img src="https://resize-parismatch.lanmedia.fr/img/var/news/storage/images/paris-match/culture/medias/france-2-va-se-separer-de-patrick-sebastien-1580820/25637681-1-fre-FR/France-2-va-se-separer-de-Patrick-Sebastien.jpg" class="d-block w-100" alt="Patrick Sebastien">
            <div class="carousel-caption d-none d-md-block">
              <h5>Patrick Sebastien</h5>
              <p>Le petit bonhomme en mousse. Comment écrire un chef d'oeuvre.</p>
            </div>
          <% end %>
        </div>
        <div class="carousel-item">
          <%= link_to speaker_offering_path(@benattia_offer_id) do%>
            <img src="https://img.static-rmg.be/a/view/q100/w900/h600/2252603/sans-titre-2019-03-07t100356-807-png.png" class="d-block w-100" alt="Nabilla Benattia">
            <div class="carousel-caption d-none d-md-block">
              <h5>Nabilla Benattia</h5>
              <p>Tout savoir sur le shampoing.</p>
            </div>
          <% end %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="justify-content-center d-flex">
    <%= link_to 'Découvrez nos offres', speaker_offerings_path, class: "btn btn-success mt-4 w-50"%>
  </div>
 <div class="justify-content-center d-flex mt-3">
    <h2>Comment ça marche</h2>
  </div>
<div class="card-deck mt-2 mb-3 pb-3">
  <div class="card" >
    <div class="picto">
      <%= image_tag "conference.png", alt: "conference organizer" %>
    </div>

    <div class="card-body">
      <h5 class="card-title"><b>Organisateur d'évènement</b></h5>
      <p class="card-text">Vous êtes à la <b>recherche d'un intervenant</b> pour votre évènement.</p>
    </div>
  </div>
  <div class="card">
    <div class="picto">
      <%= image_tag "marketplace2.png", alt: "Spikizy marketplace", class:"img-marketplace" %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><b>Spikizy</b></h5>
      <p class="card-text">La <b>plateforme de rencontre</b> entre organisateur d'évènements et conférenciers.</p>
    </div>
  </div>
  <div class="card">
    <div class="picto">
    <%= image_tag "speaker.png", alt: "Speaker" %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><b>Speaker</b></h5>
      <p class="card-text">Vous maitrisez un sujet et souhaitez le <b>partager</b>. Devenez <b>conférencier</b>.</p>
    </div>
  </div>
</div>


</div>
