<div class="side-form">
  <%= simple_form_for(@offering) do |f| %>
      <%= f.input :topic,:label => "Thème", placeholder: "Mon sujet de prédilection" %>
      <div class="row">
        <div class="col-7">
          <%= f.input :localisation, :label => "Ville", placeholder: "Ma ville d'intervention" %>
        </div>
        <div class="col-5">
        <%= f.input :budget, :label => "Tarif", placeholder: "Tarif"%>
        </div>
      </div>
    <%= f.input :description, :label => "Description", placeholder: "Description détaillée de vos domaines d'expertise" %>
    <%= f.submit 'Enregistrer mon annonce', class:'btn btn-success w-100' %>
  <% end %>
</div>
