<h1 id="h1-offers">Speakers disponibles :</h1>

<div class="main-container">
  <% @offerings.each do |offering| %>
  <%= link_to speaker_offering_path(offering) do %>
    <div class="card mycard" style="width: 18rem;">
      <%= image_tag offering.user.photo, class: "card-img-top"%>
      <div class="card-body">
        <h5 class="card-title"><%= offering.user.first_name %> <%= offering.user.last_name %></h5>
        <p class="card-text"><%= truncate(offering.description, length: 89, omission: '...') %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Thème : <%= offering.topic %></b></li>
        <li class="list-group-item">Lieu: <%= offering.localisation %></li>
        <li class="list-group-item">Prix: <%= offering.budget %> €</li>
      </ul>
    </div>
    <% end %>
  <% end %>
</div>
