<h1>Nos speakers disponibles</h1>

<div class="main-container">

  <div class="search-container active--black 4 mb-4" >
    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
  </div>

  <div class="card-container">
    <!-- <div> -->
      <ul>
        <% @offerings.each do |offering| %>
          <li class="mycard">
            <div class="card-infos">
              <h4><%= offering.title %></h4>
              <p>Sujet : <%= offering.topic %></p>
              <p>Ville : <%= offering.localisation %></p>
              <p>Tarifs : <%= offering.budget %></p>
            </div>
            <%= link_to 'details', speaker_offering_path(offering) %>
          </li>
        <% end %>
      </ul>
    <!-- </div> -->
  </div>
</div>
